[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-DebugToolbar = "*"
ipython = "*"
click = "*"
bugsnag = "*"
flask-wtf = "*"
flask-security = {editable = true, ref = "develop", git = "https://github.com/mattupstate/flask-security.git"}
bcrypt = "*"
newrelic = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
flask-shell-ipython = "*"

[dev-packages]
ipdb = "*"
Flask-WebTest = "*"
pytest = "*"
WebTest = "*"
black = "==18.4a4"
pylint = "*"
pytest-cov = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
