<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block page_title %}
    {{config.SITE_NAME}}
  {% endblock %}</title>

  {% block headers %}{% endblock %}

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap4/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  {% block css %}{% endblock %}

</head>

<body>
  {% block nav %}
    {% include "nav.html" %}
  {% endblock %}

  <main role="main" class="container">
    {% include "flash_messages.html" %}
    {% block content %}{% endblock %}
  </main>
  <!-- /.container -->

  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='vendor/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap4/js/bootstrap.min.js') }}"></script>
  {% block js %}{% endblock %}
</body>

</html>